:root {
    --green: #2d6a73;
    --gray: #e4e7ee;
    --red: #d9271d;
    --salmon: #eb5f59;
    --black: #000;
    --white: #fff;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #efefef;
}

.float {
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 40px;
    right: 40px;
    background-color: var(--red);
    color: #FFF;
    border-radius: 20px;
    text-align: center;
    box-shadow: 2px 2px 3px #bebebe67;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.my-float {
    margin-top: 22px;
}

.modal-dialog {
    max-width: 980px
}

.modal-dialog-spaces {
    max-width: 80%;
    height: 500px;
}

.modal-header {
    background-color: var(--gray) !important;
    display: none;
}

.modal-body {
    padding: 0;
}

.img-modal {
    padding: 0;
}

.a-modal {
    background-image: url("img/avaya.png");
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-buttons a {
    margin-bottom: 24px;
}

.login-buttons a i {
    margin-right: 24px;
}

.btn-danger {
    background-color: var(--red) !important;
    padding: 20px 56px;
    width: 360px;
}

.btn-danger--gray {
    background-color: var(--gray) !important;
    color: #000;
    width: 180px;
    border: none;
    padding: 12px 32px;
}

.btn-danger--gray:hover {
    background-color: var(--gray) !important;
    color: #000;
    width: 180px;
    border: none;
    padding: 12px 32px;
}

.btn-danger--small {
    width: 180px;
    padding: 12px 32px;
    margin-left: 16px;
}

.forgot {
    padding: 0;
    margin-top: 16px;
}

.form-control {
    border: none;
    border-bottom: 1px solid var(--gray);
    background-color: transparent;
}

.forgot a {
    color: #666;
}

.nav-video-call {
    background-color: var(--red);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
}

.img-modal-ok {
    background-color: var(--red);
}

.video-call-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.video-call-icons p {
    color: #fff;
    margin-top: -12px;
    padding: 0;
    font-size: 12px;
}

.hero {
    background-repeat: no-repeat;
    height: 85vh;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--white);
}

.hero__main {
    height: 80vh;
}

.login {
    display: flex;
}

.login {
    padding-top: 32px;
}

.login__items {
    margin-bottom: 48px;
}

.login__items i img {
    margin-right: 16px;
}

.login__items>a {
    text-decoration: none;
    color: var(--black);
}

.login__items span {
    border-left: 1px solid var(--black);
    margin: 0 16px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__items {
    margin-left: 16px;
}

.nav__items>a {
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    margin: 0 10px;
}

.enfasis {
    margin-right: 0 !important;
    border: 2px solid var(--salmon);
    border-radius: 16px;
    padding: 12px 40px;
}

.hero__content {
    margin-top: 160px;
}

.left-hero {
    padding-left: 80px;
}

.hero-v-2 {
    background-image: url("img/v-2-hero.png");
    height: 90vh;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
}

.hero__content__text {}

.hero__content__text h2 {
    font-size: 40px;
    font-weight: 100;
    line-height: 40px;
}

.hero__content__text h2 span {
    color: var(--salmon);
    font-weight: 700;
}

.hero__content__text h1 {
    font-size: 72px;
    font-weight: 700;
}

.hero__content__text h4 {
    font-size: 20px;
    font-weight: 300;
    margin-top: 24px;
}

.btn-primary {
    background-color: var(--green) !important;
    border-radius: 12px;
    padding: 12px 44px;
    border: none;
    font-weight: 400;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: -48px;
    margin-bottom: 40px;
}

.search__nav-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
}

.search-bar {
    width: 100%;
}

.search-input {
    width: 100%;
    display: flex;
    align-items: center;
}

.search-input__bar {
    border: 1px solid var(--gray);
    border-radius: 16px 0 0 16px;
    flex: 1;
    background-color: #fff;
}

.icon-search {
    background-color: transparent;
    border: none;
}

.keyword-search {
    border: none !important;
    outline: none !important;
}

.search-setting {
    border: 1px solid var(--gray);
    border-radius: 0px 16px 16px 0px;
    padding: 12px 16px 11px 16px;
    border-left: none;
    background-color: #FFF;
}

.navbar {
    padding: 1rem;
}

.setting-icon {
    margin-right: 24px;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs .nav-link {
    background-color: #f4f4f4;
    color: #c6c6c6;
    /* margin-left: 6px; */
    padding: 8px 24px;
    border-radius: 16px 16px 0 0;
}

.house-description__street,
.house-description__zone {
    font-size: 24px;
}

.house-description__zone {
    font-weight: bold;
}

.house-images-secundary {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.house-images-secundary img {
    width: 170px;
}

.price-container {
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    border-radius: 16px 16px 0 0;
}

.price {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.house-data {
    border: 1px solid var(--gray);
    border-top: none;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

.house-data p:first-child {
    font-weight: 400;
    font-size: 20px;
}

.house-data p:last-child {
    font-weight: 100;
}

.house-data p {
    margin: 0;
}

.house-data--last {
    border-bottom: 1px solid var(--gray) !important;
}

.house-data--neighborhood,
.house-data--type {
    padding: 16px;
}

.house-data--type {
    background-color: #f4f4f4;
}

.house-data--country {
    padding: 16px;
    border-radius: 0 0 0 16px;
}

.house-data--neighborhood p,
.house-data--type p,
.house-data--country p {
    align-self: flex-start;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.house-data--multifamily {
    padding: 16px;
    border-radius: 0 0 16px 0;
}

.house-data--multifamily p {
    align-self: flex-end;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.arapahoe p {
    text-align: right;
    font-size: 14px;
}

.house-description__title {
    font-weight: 700;
    font-size: 24px;
}

.house-description__text {
    font-size: 12px;
    line-height: 22px;
}

.legal {
    background-color: #fff;
    min-height: 640px;
    padding: 40px;
    margin-top: -80px;
}

.legal__text {
    padding: 40px;
    margin-top: 100px;
    border-radius: 24px;
}

.legal__text p {
    font-size: 12px;
}

.footer {
    background-color: var(--green);
    padding: 56px;
}

.footer__row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-center {
    text-align: center;
}

.nav__items--footer a,
.copyright {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}

.nav__items .nav__items--footer a {
    margin: 0 12px;
}

.social-media {
    text-align: right;
    margin-bottom: 16px;
}

.rrss img {
    margin-left: 8px;
}

.guest-modal {
    width: 600px;
}

.guest-chat {
    width: 500px;
}

.guest-chat__title {
    border-bottom: 2px solid var(--gray);
    margin-top: 16px;
    display: flex;
}

.guest-chat__title p {
    margin-bottom: 8px;
}

.guest-chat__title p strong {
    color: var(--red);
}

.guest-chat__conversation {
    margin-top: 16px;
}

.guest-chat__conversation p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #000;
}

.guest-chat__textarea {
    border: 2px solid var(--gray);
    margin-top: 64px;
    margin-bottom: 24px;
}

.guest-chat__textarea textarea::placeholder {
    font-size: 14px;
    color: #bebebe;
}

.guest-chat__textarea textarea {
    font-size: 14px;
    resize: none;
}

.login-butons-send {
    display: flex;
}

.login-butons .send-btn {
    font-size: 12px;
    margin-bottom: 24px;
    margin-left: auto;
}

.send-btn {
    padding: 8px 16px;
    width: auto;
    border-radius: 0;
}

.chat-right {
    padding: 0 24px;
    align-items: flex-start;
}

#loginOkModal {
    overflow: scroll;
}

@media (max-width: 998px) {
    .hero-v-2 {
        display: none;
    }
    .hero {
        height: auto !important;
    }
}

@media (max-width: 768px) {
    .modal-dialog-spaces {
        max-width: 80%;
        height: auto;
    }
    .guest-modal {
        width: 100%;
    }
    .guest-chat {
        width: 100%;
    }
    .guest-chat__title {
        margin-top: 8px;
    }
    .login__items {
        margin-right: auto;
    }
    .left-hero {
        padding: 0;
    }
    .nav__brand {
        margin: 24px auto 8px;
    }
    .nav__brand img {
        height: 100px;
    }
    .enfasis {
        border: none;
        padding: 0;
    }
    .nav {
        padding: 0;
    }
    .nav__items {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .nav__items a {
        font-size: 14px;
    }
    .hero {
        background-image: none;
        height: 100vh;
        width: auto;
        padding: 24px;
    }
    .hero__main {
        height: auto;
        background-image: none;
        background-color: var(--white);
    }
    .hero__content {
        padding: 16px 24px;
        text-align: center;
        margin-top: 24px;
    }
    .hero__content__text {
        margin-bottom: 60px;
    }
    .hero__content__text h2 {
        font-size: 32px;
        font-weight: 100;
        line-height: 16px;
    }
    .hero__content__text h1 {
        font-size: 56px;
        font-weight: 700;
    }
    .hero__content__text h4 {
        font-size: 20px;
        font-weight: 300;
        margin-top: 24px;
    }
    .search {
        margin-top: 10px;
    }
    .search-input {
        display: flex;
        flex-direction: column;
    }
    .search-input__bar {
        width: 100%;
        border-radius: 16px;
    }
    .search-setting {
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 16px;
        background-color: transparent;
    }
    .setting-icon {
        margin-right: 0px;
        margin-bottom: 16px;
    }
    .callto {
        margin-bottom: 48px;
    }
    .related {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .item img {
        width: 100% !important;
        height: auto !important;
        margin-bottom: 24px;
    }
    .footer__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .social-media {
        text-align: center;
        margin-top: 16px;
    }
    .house-images-secundary {
        display: flex;
        flex-direction: column;
    }
    .house-images-secundary img {
        width: 100%;
        height: auto;
        margin-bottom: 24px;
    }
    .hero-v-2 {
        display: none;
    }
    .login__items {
        margin: 0 auto;
    }
}

@media (max-width: 576px) {
    .hero {
        padding: 0;
        height: auto;
    }
    .search {
        margin-top: 10px;
    }
    .legal__text {
        padding: 0;
        background-image: none;
    }
    .nav__items>a {
        margin: 0 8px;
        font-size: 12px;
    }
    .house-description,
    .propiedades-rela {
        padding: 0 24px;
    }
    .left-img {
        display: none;
    }
    .login-butons {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn-danger--small {
        margin-left: 0;
        margin-top: 16px;
    }
    .forgot {
        text-align: center;
    }
    .form1 {
        padding: 24px 16px;
    }
    .a-modal {
        padding: 24px 16px 16px;
    }
    .modal-dialog {
        margin: 0 auto;
        width: 90%;
    }
    .nav-video-call {
        padding: 8px 16px 0;
    }
    .btn-danger {
        width: 100%;
    }
    .search-setting {
        background-color: transparent;
    }
    .video-call-icons img {
        width: 30px;
        height: 30px;
    }
    .video-call-icons p {
        font-size: 9px;
        margin-top: 2px;
    }
}